<form action="//formspree.io/<%= theme.email_address %>" method="POST">
  <fieldset>
    <label for="name">Your name</label>
    <input type="text" name="name" required>
  </fieldset>
  <fieldset>
    <label for="_replyto">Your email address</label>
    <input type="email" name="_replyto" required>
  </fieldset>
  <fieldset>
    <label for="message">Your message</label>
    <textarea name="message" rows="2" required></textarea>
  </fieldset>
  <input class="hidden" type="text" name="_gotcha" style="display:none">
  <input class="hidden" type="hidden" name="_subject" value="Message via <%- config.url %>">
  <div class="centeredbutton-wrap">
    <button type="submit">Submit form</button>
  </div>
  
</form>