
<div class="gallery">
  <% if (item.photos.length){ %>
    <% item.photos.forEach(function(photo){ %>
      <div class="gallery-item">
        <img src="<%- config.root %><%- photo %>" class="img-responsive" />
      </div>
      
    <% }); %>
  <% } %>
</div>