<!-- Hero -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="<%- config.root %>" class="logo">
            <img src="<%- theme.logo_src %>" alt="<%-config.title %>" />
        </a>
        <h1 class="title"><%-config.title || ""%></h1>

    </div>
</header>
