<header id="header">
  <div class="inner">
    <a href="<%- config.root %>" class="logo">
      <div class="logo-wrapper">
        <img src="<%- theme.logo_src %>" alt="<%-config.title %>" />
      </div>
    </a>
    <h1 class="title"><%-config.title || ""%></h1>
  </div>
</header>
