@charset 'utf-8';
// normalize
@import 'normalize.css';
// google material colors
@import '../../node_modules/material-colors/dist/colors.scss';
// override bootstrap default variables before import
$enable-shadows: true;
$enable-transitions: true;
// bootstrap grid only - plus some required vars and mixins
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';
@import '../../node_modules/bootstrap/scss/_grid.scss';

// bootstrap breakpoints for reference
// $grid-breakpoints: (
//   xs: 0,
//   sm: 544px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );

@mixin mq($mq-breakpoint, $mq-breakpoints: $grid-breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin listreset {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-left: 0; // ie
  padding-left: 0; // ff
}

@mixin box-shadow($horiz : 1px , $vert : 1px , $radius : 1px , $spread : 1px , $color : rgba(45,45,45,.15)){
  -webkit-box-shadow: $horiz $vert $radius $spread $color;
  -moz-box-shadow: $horiz $vert $radius $spread $color;
  box-shadow: $horiz $vert $radius $spread $color;
}

@mixin text-shadow($horiz: 1px, $vert: 1px, $radius: 1px, $color: rgba(45,45,45,.35)){
  text-shadow: $horiz $vert $radius $color;
}

// import later? - _functions
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}

@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// vars
$link: $md-indigo-a200;
$linkhover: $md-indigo-a100;
$link-fb: lighten($link,10%);
$copy: #757575;
$bg: $md-grey-900;
$overlay: rgba(33, 33, 33, 0.35);

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $md-grey-200;
  color: $md-grey-600;
  line-height: 1.8em;
  font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
}

div#upper {
}

div#main {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1330px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

section {
  @include clearfix;
}

#intro, #work, #contact {
  @include make-container();
}

div.section-content {
  margin-top: 40px;
  @include clearfix;
  h2:nth-of-type(1) {
    margin-top: 0;
  }
}

.icon {
  height: 24px;
  width: 24px;
  fill: $md-grey-500;
  &:hover {
    fill: $link;
  }
}

// required if using svg icon spritesheets
.hide {
  display: none;
}

hr {
  width: 100%;
  border: none;
  background-color: $md-grey-300;
  height: 1px;
  margin: {
    left: auto;
    right: auto;
    top: 15px;
    bottom: 15px;
  }
}

#{headings(1,6)} {
  font-weight: normal;
  color: $md-grey-800;
}

a {
  color: $link;
  text-decoration: none;
  transition: all .1s ease-in-out;
  &:hover {
    color: $linkhover;
  }
}

button {
  background-color: $link;
  display: block;
  clear: both;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: rem(13);
  transition: all .1s ease-in-out;
  width: 100%;
  @include box-shadow;
  &:hover {
    @include box-shadow($horiz: 1px, $vert: 6px, $radius: 9px, $spread: 4px);
  }
  @include mq(sm) {
    font-size: rem(14);
    width: auto;
    display: inline-block;
  }
}

div.centeredbutton-wrap {
  margin: 10px 0 20px;
  text-align: center;
}

ul, ol, dl, li {
  @include listreset;
  list-style-type: none;
  margin: 0 0 10px 0;
  dd {
    @include listreset;
  }
}

li.inline {
  display: inline;
}

li.tags a {
  color: $md-grey-500;
  margin-right: 20px;
}

p {
  color: $copy;
}

p.note {
  display: inline;
  font-style: italic;
  font-size: 11px;
}

b, strong {
  color: $md-grey-800;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  h1 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.hero {
  background: $bg;
  background: linear-gradient(to bottom right, $md-red-300, $md-indigo-300);
  height: 250px;
  width: 100%;
  h1,h2 {
    margin: 0;
    padding: 10px 0;
    @include text-shadow;
    text-align: center;
    color: #fff;
  }
  h1 {
    letter-spacing: 1px;
    position: absolute;
    padding: 40px 20px;
    text-transform: uppercase;
    font: {
      weight: 700;
      size: rem(18);
    }
  }
  h2 {
    font-size: rem(18);
    padding: 0 10px;
    margin-top: 15px;
    line-height: 1.5rem;
    @include mq(sm) {
      font-size: rem(22);
    }
    @include mq(md) {
      font-size: rem(26);
    }
    @include mq(lg) {
      font-size: rem(30);
    }
  }
}

.valign {
  display: table;
  .valign-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

#work {
  @include make-container();
  .gallery {
    @include make-row();
  }
}

.gallery {
  text-align: left;
  @include clearfix;
}

div.gallery-item {
  @include make-col-ready();
  @include mq(sm) {
    @include make-col(6);
  }
  @include mq(lg) {
    @include make-col(4);
  }
  .gallery-content {
    @include box-shadow;
  }
  img {
    display: block; // prevent gap between elements from inline-block
  }
  margin-bottom: 30px;
  background-size: cover;
  position: relative;
  .overlay {
    width: 100%;
  }
  .overlay-bottom {
    background-color: #fff;
    padding: 12px 10px;
  }
  .overlay-top {
    position: absolute;
    text-align: right;
    top: -20px;
    padding-right: 7px;
  }
  h4 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }
  h5 {
    color: $md-grey-500;
    margin: 0;
  }
  .gallery-item-actions {
    text-transform: uppercase;
    font-size: 14px;
    a {
      padding: 8px;
    }
    a:nth-of-type(1) {
      padding-left: 0;
    }
  }
  .icons {
    float: right;
  }
}

/*section#skills {
  dd {
    line-height: rem(22);
  }
  dt {
    color: $md-grey-500;
    font-size: rem(11);
    text-transform: uppercase;
    margin: 15px 0 -10px;
  }
}*/

section#contact {
  div.cta {
    text-align: center;
  }
}

// post page

#page {
  .post-page {
    @include box-shadow();
    background-color: #fff;
    margin-top: -200px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    .section-content {
      margin-top: 0;
    }
    .gallery {
      background-color: $md-grey-200;
      padding: 30px;
      margin-bottom: 20px;
    }
  }
}

h3.label {
  font-size: rem(14);
  color: $md-grey-500;
  margin: 0;
}

.section-meta {
}

iframe {
  border: none;
}

.tag {
  border: 1px solid $md-indigo-200;
  padding: 2px 8px 3px 8px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
  color: $md-grey-600;
  &:hover {
    background-color: $link;
    color: #fff;
    border-color: $link;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: $bg;
  p {
    color: #fff;
    font-size: rem(13);
  }
  .icon-github {
    display: block;
    margin: 0 auto;
    fill: $link;
  }
}
