@charset 'utf-8';
// normalize
@import 'normalize.css';
// google material colors
@import '../../node_modules/material-colors/dist/colors.scss';
// override bootstrap default variables before import
$enable-shadows: true;
$enable-transitions: true;
// bootstrap grid only - plus some required vars and mixins
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/_mixins.scss';
@import '../../node_modules/bootstrap/scss/_grid.scss';

/*
we now using bootstrap's breakpoints, which are:
xs: 0,
sm: 544px,
md: 768px,
lg: 992px,
xl: 1200px
*/
@mixin query($breakpoint) { 
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: #{map-get($grid-breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "No value from `#{$breakpoint}`. Is it in the map? ";
  }
}

@mixin listreset {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-left: 0; // ie
  padding-left: 0; // ff
}

// @mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0 , $spread : 0 , $color : #000000 ){
//   -webkit-box-shadow: $horiz $vert $blur $spread $color;
//   -moz-box-shadow: $horiz $vert $blur $spread $color;
//   box-shadow: $horiz $vert $blur $spread $color;
// }
// 
@mixin text-shadow($x: 1px, $y: 1px, $r: 1px, $c: rgba(45,45,45,.35)){
  text-shadow: $x $y $r $c;
}

// import later? - _functions
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}

// color _variables
$link: $md-red-a200;
$link-fb: lighten($link,10%);
$copy: #757575;
$bg: $md-grey-900;
$overlay: rgba(33, 33, 33, 0.35);

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $md-grey-200;
  color: $md-grey-600;
  line-height: 1.8em;
  font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
}

div#upper {
  flex: 0 0 auto;
}

div#main {
  flex: 1 0 auto;
  padding: 0 10px;
  // @include outer-container;
  // @include query('md') {
  //   padding: 0 25px;
  // }
  margin-bottom: 60px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

section {
  @include clearfix;
}

div.section-content {
  margin-top: 40px;
  // @include span-columns(12);
  @include clearfix;
  h2:nth-of-type(1) {
    margin-top: 0;
  }
}

.icon {
  height: 24px;
  width: 24px;
  fill: $md-grey-500;
  &:hover {
    fill: $link;
  }
}

// required if using svg icon spritesheets
.hide {
  display: none;
}

hr {
  width: 100%;
  border: none;
  background-color: $md-grey-300;
  height: 1px;
  margin: {
    left: auto;
    right: auto;
    top: 15px;
    bottom: 15px;
  }
}

#{headings(1,6)} {
  font-weight: normal;
  color: $md-grey-800;
}

a {
  color: $link;
  text-decoration: none;
  // @include transition(all .1s ease-in-out);
  &:hover {
    color: lighten($link, 10%);
  }
}

ul, ol, dl {
  @include listreset;
  list-style-type: square;
  margin: 0 0 10px 0;
  dd {
    @include listreset;
  }
}

p {
  color: $copy;
}

p.note {
  display: inline;
  font-style: italic;
  font-size: 11px;
}

b, strong {
  color: $md-grey-800;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  h1 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.hero {
  // @include linear-gradient(to top left, $md-indigo-300, $md-red-300, $fallback: $bg);
  background-color: $bg;
  height: 250px;
  width: 100%;
  h1,h2 {
    margin: 0;
    padding: 10px 0;
    @include text-shadow;
    text-align: center;
    color: #fff;
  }
  h1 {
    letter-spacing: 1px;
    position: absolute;
    padding: 40px 20px;
    text-transform: uppercase;
    font: {
      weight: 700;
      size: rem(18);
      weight: 700;
    }
  }
  h2 {
    font-size: rem(20);
    padding: 0 10px;
    margin-top: 15px;
    line-height: 1.5rem;
    // @include query('md') {
    //   font-size: rem(26);
    //   line-height: 2rem;
    // }
    // @include query('lrg') {
    //   font-size: rem(34);
    //   line-height: 2.6rem;;
    // }
  }
}

.valign {
  display: table;
  .valign-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

#work {
  @include make-container();
  .gallery {
    @include make-row();
  }
}

.gallery {
  text-align: left;
}

div.gallery-item {
  @include make-col-ready();
  @media(min-width:600px) {
    @include make-col(6);
  }
  @media(min-width:900px) {
    @include make-col(4);
  }
  img {
    display: block; // prevent gap between elements from inline-block
  }
  margin-bottom: 30px;
  background-size: cover;
  position: relative;
  .overlay {
    width: 100%;
  }
  .overlay-bottom {
    background-color: #fff;
    padding: 12px 10px;
  }
  .overlay-top {
    position: absolute;
    text-align: right;
    top: -20px;
    padding-right: 7px;
  }
  h4 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }
  h5 {
    color: $md-grey-400;
    margin: 0;
  }
  .gallery-item-actions {
    text-transform: uppercase;
    font-size: 14px;
    a {
      padding: 8px;
    }
    a:nth-of-type(1) {
      padding-left: 0;
    }
  }
  .icons {
    float: right;
  }
}

section#skills {
  dd {
    line-height: rem(22);
  }
  dt {
    color: $md-grey-500;
    font-size: rem(11);
    text-transform: uppercase;
    margin: 15px 0 -10px;
  }
}

section#contact {
  div.cta {
    text-align: center;
    button {
      background-color: $link;
      color: #fff;
      border: none;
      padding: 5px 15px;
      text-transform: uppercase;
      font-weight: normal;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 20px;
  background-color: $bg;
  p {
    color: #fff;
    font-size: rem(13);
  }
  .icon-github {
    display: block;
    margin: 0 auto;
    fill: $link;
  }
}
